@model IList<RPS.Challenge.Web.ViewModels.TournamentFileViewModel>
@{
    ViewBag.Title = "Tournament Examples";
}

<section class="examples-section page-card">
    <div class="module-header">
        <h3>Tournament examples</h3>
        <span class="module-subtitle">Download sample files and start a tournament</span>
    </div>
    <ol class="round">
        @if (Model != null) {
            foreach (var file in Model) {
                <li>
                    <h4>
                        <a href="@file.DownloadUrl">@file.FileName</a>
                    </h4>
                    <span class="@file.DescriptionCssClass">@file.Description</span>
                </li>
            }
        }
    </ol>
</section>

